<header>
  <div class="container">
    <nav>
      <div class="logo">
        <img src="https://filmets.cc/templates/Filmets/images/logo.png" alt="">
      </div>
      <ul>
        <li><a (click)="toFilms()"><span>Новинки</span></a></li>
        <li><a (click)="toFilms()"><span>Фильмы</span> </a></li>
        <li><a (click)="toFilms()"><span>Сериалы</span></a></li>
        <li><a (click)="toFilms()"><span>Мультфильмы</span></a></li>
        <li><a (click)="toFilms()"><span>Дополнительно</span></a></li>
      </ul>
      <div class="find">
        <input type="text" placeholder="Поиск фильмов...">
        <button>Найти</button>
      </div>
      <div class="cart">
        <a (click)="toCart()"><i class="fas fa-shopping-cart"></i>Корзина</a>
      </div>
    </nav>
  </div>
</header>
